<div class="flex flex-col flex-1 p-4">
  <ng-container *ngIf="patientForm">
    <form [formGroup]="patientForm">
      <div class="flex flex-wrap items-center my-4">
        <div class="flex-1 flex justify-end">
          <h1 class="text-2xl font-bold">Patient Details</h1>
        </div>
        <div class="flex flex-1 flex-wrap justify-end gap-4">
          <ng-container *ngIf="!editMode">
            <button mat-button class="button-manage" (click)="toggleEditMode()">
              <mat-icon color="primary" class="cursor-pointer icon icon-white"
                >edit</mat-icon
              >Edit
            </button>
          </ng-container>

          <ng-container *ngIf="editMode">
            <button mat-button class="button-success" (click)="savePatient()">
              <mat-icon color="primary" class="cursor-pointer icon icon-white"
                >check</mat-icon
              >Save Changes
            </button>
          </ng-container>

          <ng-container *ngIf="editMode">
            <button mat-button class="button-cancel" (click)="cancelEditMode()">
              <mat-icon color="primary" class="cursor-pointer icon icon-red"
                >cancel</mat-icon
              >Cancel
            </button>
          </ng-container>

          <button mat-button class="button-delete" (click)="deletePatient()">
            <mat-icon color="warn" class="cursor-pointer icon icon-white"
              >delete</mat-icon
            >
            Delete
          </button>
        </div>
      </div>

      <div class="grid grid-cols-3 w-full mb-4">
        <div class="col-span-3 md:col-span-1 patient-image"></div>
        <div class="col-span-3 md:col-span-2">
          <div
            class="flex flex-col flex-1 justify-evenly p-4 text-black text-base font-medium"
          >
            <app-personal-info
              [patientForm]="patientForm"
              [editMode]="editMode"
            ></app-personal-info>
          </div>
        </div>
      </div>

      <div class="flex-1">
        <mat-tab-group>
          <ng-container *ngFor="let tab of patientDataTabs">
            <mat-tab [label]="tab.displayValue">
              <div class="p-6">
                <app-dynamic-form
                  [parentForm]="patientForm.get(tab.dataKey)"
                  [schema]="schema"
                  [schemaKey]="tab.dataKey"
                  [editMode]="editMode"
                ></app-dynamic-form>
              </div>
            </mat-tab>
          </ng-container>
        </mat-tab-group>
      </div>
    </form>
  </ng-container>
</div>
