.form-group {
  display: flex;
}

.form-array-control .form-group {
  justify-content: space-around;
}

.form-array-control {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
  margin-top: 1rem;

  > *:not(button) {
    flex: 1;
  }
}
