<div
  class="flex flex-col"
  [ngClass]="menuExpanded ? 'menu-open' : 'menu-close'"
>
  <mat-icon
    *ngIf="menuExpanded"
    class="self-end m-4 cursor-pointer icon rounded-full hover:bg-gray-200 text-black"
    (click)="menuExpanded = !menuExpanded"
  >
    chevron_left
  </mat-icon>
  <mat-icon
    *ngIf="!menuExpanded"
    class="self-center m-4 cursor-pointer icon rounded-full hover:bg-gray-200 text-black"
    (click)="menuExpanded = !menuExpanded"
  >
    menu
  </mat-icon>

  <ul class="flex flex-col flex-1">
    <li class="p-4 mb-4 hover:bg-gray-200">
      <a
        href="/patients"
        class="flex text-3xl text-black items-center justify-center"
      >
        <mat-icon class="self-center cursor-pointer side-icon">
          people_outline
        </mat-icon>
        <span *ngIf="menuExpanded" class="ml-4">Patients</span>
      </a>
    </li>
    <li class="p-4 mb-4 hover:bg-gray-200">
      <a href="#" class="flex text-3xl text-black items-center justify-center">
        <mat-icon class="self-center cursor-pointer side-icon">
          people_outline
        </mat-icon>
        <span *ngIf="menuExpanded" class="ml-4">Patients</span>
      </a>
    </li>
    <li class="p-4 mb-4 hover:bg-gray-200">
      <a href="#" class="flex text-3xl text-black items-center justify-center">
        <mat-icon class="self-center cursor-pointer side-icon">
          people_outline
        </mat-icon>
        <span *ngIf="menuExpanded" class="ml-4">Patients</span>
      </a>
    </li>
  </ul>
</div>
