<!-- Define the template with a template reference variable -->
<ng-template #formGroupTemplate let-parentForm="parentForm">
  <div class="form-group">
    <ng-container *ngFor="let control of getFormGroupControls(parentForm)">
      <!-- Don't show ID fields -->
      <div
        *ngIf="
          isFormControl(parentForm.get(control)) &&
          control !== '_id' &&
          control !== '__v'
        "
      >
        <mat-label class="block mb-4 text-black font-medium"
          >{{ getLabel(control) }}:</mat-label
        >

        <!-- Display textarea for controls with data type of string -->
        <ng-container
          *ngIf="
            findKeyType(schema, control) === 'String' && control !== 'time'
          "
        >
          <mat-form-field appearance="outline">
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              [formControl]="getFormControl(control, parentForm)"
              [readonly]="!editMode"
              class="max-h-[300px]"
            ></textarea>
            <mat-error
              *ngIf="parentForm.get(control)?.hasError('required')"
              class="text-base"
            >
              {{ getLabel(control) }} is required
            </mat-error>
          </mat-form-field>
        </ng-container>

        <!-- Display textarea for controls with data type of string -->
        <ng-container
          *ngIf="
            findKeyType(schema, control) === 'String' && control === 'time'
          "
        >
          <mat-form-field appearance="outline" class="w-full">
            <input
              matInput
              type="time"
              [formControl]="getFormControl(control, parentForm)"
              [readonly]="!editMode"
            />
            <mat-error
              *ngIf="parentForm.get(control)?.hasError('required')"
              class="text-base"
            >
              {{ getLabel(control) }} is required
            </mat-error>
          </mat-form-field>
        </ng-container>

        <!-- Display Datepicker for controls with data type of Date -->
        <ng-container *ngIf="findKeyType(schema, control) === 'Date'">
          <mat-form-field appearance="outline">
            <input
              matInput
              [matDatepicker]="picker"
              [formControl]="getFormControl(control, parentForm)"
              [readonly]="!editMode"
            />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker [disabled]="!editMode"></mat-datepicker>
            <mat-error
              *ngIf="parentForm.get(control)?.hasError('required')"
              class="text-base"
            >
              {{ getLabel(control) }} is required
            </mat-error>
          </mat-form-field>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-template>

<!-- If parent form is a form group -->
<ng-container *ngIf="isFormGroup(parentForm)">
  <ng-container
    *ngTemplateOutlet="formGroupTemplate; context: { parentForm: parentForm }"
  ></ng-container>
</ng-container>

<!-- If parent form is a form array i.e can add/remove child form groups -->
<ng-container *ngIf="isFormArray(parentForm)">
  <div class="grid">
    <button
      mat-button
      class="button-success mr-8 justify-self-end"
      (click)="addFormGroup(schemaKey)"
      *ngIf="editMode"
    >
      Add New Entry
    </button>
    <div
      *ngFor="
        let childFormGroup of getFormArrayControls(parentForm);
        let i = index
      "
      class="form-array-control"
    >
      <ng-container *ngIf="isFormGroup(childFormGroup)">
        <ng-container
          *ngTemplateOutlet="
            formGroupTemplate;
            context: { parentForm: childFormGroup }
          "
        ></ng-container>
      </ng-container>

      <button
        mat-button
        class="button-delete self-center mt-7"
        (click)="removeFormGroup(parentForm, i)"
        *ngIf="editMode"
      >
        <mat-icon color="warn" class="cursor-pointer icon-white"
          >close</mat-icon
        >
        Delete Entry
      </button>
    </div>
  </div>
</ng-container>
