<!-- The body of our app -->
<div class="flex flex-col flex-1 p-4">
  <div class="min-w-[80%] self-center">
    <div class="flex justify-end mb-4">
      <button
        mat-button
        class="button-success"
        (click)="openAddEditPatientDialog()"
      >
        <mat-icon color="primary" class="icon icon-white">add</mat-icon>
        Add New Patient
      </button>
    </div>

    <!-- The filter section -->
    <mat-form-field aria-haspopup="outline">
      <mat-label class="text-base font-medium text-black">Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="i.e John Doe"
        #input
      />
    </mat-form-field>
    <!-- patient list table -->
    <div class="table-container">
      <mat-table [dataSource]="dataSource" matSort class="flex flex-col">
        <!-- Display columns -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >ID</mat-header-cell
          >
          <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >First Name</mat-header-cell
          >
          <mat-cell *matCellDef="let row">{{
            row.personalInfo.firstName
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Last Name</mat-header-cell
          >
          <mat-cell *matCellDef="let row">{{
            row.personalInfo.lastName
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="gender">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Gender</mat-header-cell
          >
          <mat-cell *matCellDef="let row">{{
            row.personalInfo.gender
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="dob">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >DOB</mat-header-cell
          >
          <mat-cell *matCellDef="let row">
            {{ row.personalInfo.dob | date : "MMMM d, y" }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Address</mat-header-cell
          >
          <mat-cell *matCellDef="let row">{{
            row.personalInfo.contactInfo.address || "---"
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Phone</mat-header-cell
          >
          <mat-cell *matCellDef="let row">{{
            row.personalInfo.contactInfo.phone
          }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="justify-center"
            >Action</mat-header-cell
          >
          <mat-cell *matCellDef="let row" class="justify-center">
            <button
              mat-button
              class="button-manage"
              routerLink="/patient/details/{{ row._id }}"
            >
              Manage Patient
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        <!-- When table results empty -->

        <tr *matNoDataRow class="w-full flex justify-center">
          <ng-container *ngIf="!dataSource.data.length">
            <td
              class="text-base content-center h-48"
              colspan="displayedColumns.length"
            >
              No data available.
            </td>
          </ng-container>
          <!-- No filter result -->
          <ng-container
            *ngIf="dataSource.data.length && !dataSource.filteredData.length"
          >
            <td
              class="text-base content-center h-48"
              colspan="displayedColumns.length"
            >
              No data matching the filter "{{ input.value }}"
            </td>
          </ng-container>
        </tr>
      </mat-table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of patients"
      ></mat-paginator>
    </div>
  </div>
</div>
